* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #EEEEEE;
    font-size: 100%;
}

#top-footer {
    padding: 50px;
    background-color: #222222;
    text-align: center;
}

footer {
    padding: 50px;
    background-color: #111111;
    text-align: center;
}

.copyright {
    font-size: 14px;
    color: #AAAAAA;
}